.date-time {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.date-container {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: sans-serif;
}

.day {
  font-size: 100px;
}

.date {
  font-size: 50px;
}

.time {
  color: white;
  font-size: 100px;
}
